body {
	/*  IE8以下の代替の背景画像  */
	background:url("a.jpg") #333;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
	background: #000;
	color: #fff;
	margin: 5%;
}

h2 {
	font-size:xx-large;
	font-family: serif;
	color: #fff;
	margin: 50px;
	position: relative;
}

p {
	font-family: serif;
	color: #fff;
	margin: 50px;
	position: relative;
	z-index: 3;
}

video {
	display:block;
}

video#bg-video {
	position:fixed;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-1;
}

#cover {
	position: fixed;
	background: url(./img/bg_white.png);
	width: 100%;
	height: 100%;
	right:0;
	bottom:0;
}