.bg-container {
  @each $img-id in $bg-img-ids {
    $animation-name: animation-#{$img-id};
    $i: index($bg-img-ids, $img-id); 
    $n: length($bg-img-ids);
    @keyframes #{$animation-name} {

      @if $i != 1 {
        0% {
          opacity: 0;
        }
        #{100 / $n * ($i - 2) * 1%} {
          opacity: 0;
        }
      }

      #{100 / $n * ($i - 1) * 1%} {
        opacity: 1;
      }

      #{100 / $n * $i * 1%} {
        opacity: 0;
      }

      @if $i == 1 {
        #{100 / $n * ($n - 1) * 1%} {
          opacity: 0
        }

        100% {
          opacity: 1
        }
      } @else if $i != $n {
        100% {
          opacity: 0
        }
      }
    }

    #bg-#{$img-id} {
      z-index: −2;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      background: no-repeat center/cover url(#{$bg-img-dir}/#{$img-id}.png) fixed;
      animation: $animation-name $n * 5s ease-out infinite;
    }
  }

  .bg-shade {
    position: fixed;
    z-index: −1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .4);
  }
}
