@mixin section(
  $width-section: $width-section-default
) {
  display: table;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  & > .section-wrapper {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    & > .section-title {
      @include letter-spacing(8px);
      display: inline-block;
      padding: 8px 32px;
      border-bottom: 1px solid $white;
      font-size: $font-size-huge;
      font-weight: normal;
      color: $white;
    }

    & > .section-lead {
      @include letter-spacing(1px);
      @include media($mobile-context) {
        padding-left: 8px;
        padding-right: 8px;
      }
      max-width: $width-section * 0.9;
      margin: 32px auto;
      color: white;
      line-height: 2;
    }

    & > .section-card {
      @include media($default-context) {
        @include outer-container;
      }
      @include media($mobile-context) {
        margin-left: 16px;
        margin-right: 16px;
      }

      @include pad;
      background-color: $white;
      text-align: left;
    }
  }
}
