$font-size-small:   14px;
$font-size-base:    16px;
$font-size-large:   18px;
$font-size-larger:  21px;
$font-size-huge:    36px;
$font-size-title:   42px;

$width-section-default: 960px;

$screen-mobile:     500px;
$default-context:   new-breakpoint(min-width $screen-mobile);
$mobile-context:    new-breakpoint(max-width $screen-mobile);

$bg-img-ids:        "bg-cameleon-mask",
                    "bg-casper",
                    "bg-jackin-eye",
                    "bg-jackin-eye2",
                    "bg-jackin-head",
                    "bg-jackin-space",
                    "bg-move-me",
                    "bg-squama",
                    "bg-traxion";
