$font-size-small:   14px;
$font-size-base:    16px;
$font-size-large:   18px;
$font-size-larger:  21px;
$font-size-huge:    36px;
$font-size-title:   42px;

$width-section-default: 960px;

$screen-mobile:     500px;
$default-context:   new-breakpoint(min-width $screen-mobile);
$mobile-context:    new-breakpoint(max-width $screen-mobile);

$bg-img-dir:        "../assets/images/projects";
$bg-img-mobile-dir: "../assets/images/projects/mobile";
$bg-img-ids:        "cameleon-mask",
                    "casper",
                    "jackin-eye",
                    "jackin-eye2",
                    "jackin-head",
                    "jackin-space",
                    "move-me",
                    "squama",
                    "traxion";
